//1366*768
@fs:14px;
.baseFont(@f:@fs){
  font-size: @f;
}
body{font-family:'微软雅黑';text-align:center;margin:0 auto;padding:0;background:#FFF;font-size:@fs;color:#a5e2f9;}
body > div{margin-right:auto;margin-left:auto;}
div,form,ul,ol,li,span,p{margin:0;padding:0;border:0;}
img,a img{border:0;margin:0;padding:0;outline: none}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:@fs;font-weight:normal;}
ul,ol,li{list-style:none}
table,td,input{font-size:@fs}

a{outline-style:none;text-decoration:none;color: inherit;}
a:hover{text-decoration:none;cursor:pointer;color: inherit}
.container{
  .baseFont;
  .cus-top-nav{
    .navbar-brand{

    }
  }
}

.clearfix:after{centent:"";height:0;line-height:0;display:block;visibility:hidden;clear:both}
.clearfix{zoom:1;}

body{

  //background-size: 100% 100%;
}
.cus-top-nav-massage,.cus-main-navbar,.mainContainer{
  width:100%;
}
/*
@media screen and (max-width: 1500px){
  body{
    font-size: 12px;
  }
}
@media screen and (max-width: 1365px){
  .cus-top-nav-massage,.cus-main-navbar,.mainContainer{
    width:1500px;
  }
}
@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 40%;
  }
}*/


