<div class="cus-bottom clearfix">
    <ul>
        <li>
            <div><img src="/images/kc.png" alt=""></div>
            <div>
                <span class="cus-tit">可充电量</span>
                <span class="cus-tit"><i class="cus-val" id="usableCharge">8349.1</i>&nbsp;kWh</span>
            </div>
        </li>
        <li>
            <div><img src="/images/lc.png" alt=""></div>
            <div>
                <span class="cus-tit">累计充电量</span>
                <span class="cus-tit"><i class="cus-val" id="TotalCharge">5394641.5</i>&nbsp;kWh</span>
            </div>
        </li>
        <li>
            <div><img src="/images/kf.png" alt=""></div>
            <div>
                <span class="cus-tit">可放电量</span>
                <span class="cus-tit"><i class="cus-val" id="usableDischarge">2349.1</i>&nbsp;kWh</span>
            </div>
        </li>
        <li>
            <div><img src="/images/lf.png" alt=""></div>
            <div>
                <span class="cus-tit">累计放电量</span>
                <span class="cus-tit"><i class="cus-val" id="utotalDischarge">2594271.8</i>&nbsp;kWh</span>
            </div>
        </li>
    </ul>
</div>