<div class="cus-bottom clearfix" id="pc-bottom">
    <ul>
        <li>
            <div><img src="/images/plantstatus/kc.png" alt=""></div>
            <div>
                <span class="cus-tit">电池容量: </span>
                <span class="cus-box"><i class="cus-val" id="bs_rechargeable_power_value"></i>&nbsp;<i class="cus-unit" id="bs_rechargeable_power_unit"></i></span>
            </div>
        </li>
        <li>
            <div><img src="/images/plantstatus/lc.png" alt=""></div>
            <div>
                <span class="cus-tit">SOC: </span>
                <span class="cus-box"><i class="cus-val" id="bs_total_charge_power_value"></i>&nbsp;<i class="cus-unit" id="bs_total_charge_power_unit"></i></span>
            </div>
        </li>
        <li>
            <div><img src="/images/plantstatus/kf.png" alt=""></div>
            <div>
                <span class="cus-tit">累计发电量: </span>
                <span class="cus-box"><i class="cus-val" id="bs_discharge_power_value"></i>&nbsp;<i class="cus-unit" id="bs_discharge_power_unit"></i></span>
            </div>
        </li>
        <li>
            <div><img src="/images/plantstatus/lf.png" alt=""></div>
            <div>
                <span class="cus-tit">装换效率: </span>
                <span class="cus-box"><i class="cus-val" id="bs_total_discharge_power_value"></i> <i class="cus-unit" id="bs_total_discharge_power_unit"></i>&nbsp;</span>
            </div>
        </li>
    </ul>
</div>