<div class="cus-esc-container">
    <div class="cus-esc-box">
        <h2 class="ess-tit">BMS 01</h2>
        <div class="ess-section clearfix">
            <div class="psc-section-item psi-one">
                <img src="/images/plantstatus/BMScharge.gif" alt="">
                <div class="psi-status">
                    <div class="psi-status-item">
                        <p><b class="psis-signal-off"></b></p>
                        <p>生命信号</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-comm-on"></b></p>
                        <p>通讯</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon"></b></p>
                        <p >接触器</p>
                    </div>
                    <div class="psi-status-item">
                        <p><span class="bms-value">100%</span></p>
                        <p>SOH</p>
                    </div>
                    <div class="psi-status-item">
                        <p><span class="bms-value">24%</span></p>
                        <p>SOC</p>
                    </div>
                </div>
            </div>
            <div class="psc-section-item psi-two">
                <div class="bms-details">
                    <table>
                        <tr>
                            <td>单位最大电压（编号 052）：</td>
                            <td><span class="bms-value">3.247</span><span class="bms-unit">V</span></td>
                            <td>系统绝缘值：</td>
                            <td><span class="bms-value">216</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>单位最小电压（编号 052）：</td>
                            <td><span class="bms-value">3.232</span><span class="bms-unit">V</span></td>
                            <td>系统当前充电电流上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">A</span></td>
                        </tr>
                        <tr>
                            <td>单体平均电压：</td>
                            <td><span class="bms-value">3.247</span><span class="bms-unit">V</span></td>
                            <td>系统当前放电电流上限：</td>
                            <td><span class="bms-value">216</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>单位最高温度（编号 052）：</td>
                            <td><span class="bms-value">36.4</span><span class="bms-unit">℃</span></td>
                            <td>系统当前充电功率上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">W</span></td>
                        </tr>
                        <tr>
                            <td>单位最低温度（编号 052）：</td>
                            <td><span class="bms-value">28.7</span><span class="bms-unit">℃</span></td>
                            <td>系统当前放电功率上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">W</span></td>
                        </tr>
                        <tr>
                            <td>单位平均温度（编号 052）：</td>
                            <td><span class="bms-value">32.47</span><span class="bms-unit">℃</span></td>
                            <td>系统最高允许充电电压：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>母线电压：</td>
                            <td><span class="bms-value">327</span><span class="bms-unit">V</span></td>
                            <td>单体最高允许充电电压：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>母线电流：</td>
                            <td><span class="bms-value">23</span><span class="bms-unit">A</span></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="cus-esc-box">
        <h2 class="ess-tit">BMS 02</h2>
        <div class="ess-section clearfix">
            <div class="psc-section-item psi-one">
                <img src="/images/plantstatus/BMSdischarge.gif" alt="">
                <div class="psi-status">
                    <div class="psi-status-item">
                        <p><b class="psis-signal-off"></b></p>
                        <p>生命信号</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-comm-on"></b></p>
                        <p>通讯</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon"></b></p>
                        <p >接触器</p>
                    </div>
                    <div class="psi-status-item">
                        <p><span class="bms-value">100%</span></p>
                        <p>SOH</p>
                    </div>
                    <div class="psi-status-item">
                        <p><span class="bms-value">24%</span></p>
                        <p>SOC</p>
                    </div>
                </div>
            </div>
            <div class="psc-section-item psi-two">
                <div class="bms-details">
                    <table>
                        <tr>
                            <td>单位最大电压（编号 052）：</td>
                            <td><span class="bms-value">3.247</span><span class="bms-unit">V</span></td>
                            <td>系统绝缘值：</td>
                            <td><span class="bms-value">216</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>单位最小电压（编号 052）：</td>
                            <td><span class="bms-value">3.232</span><span class="bms-unit">V</span></td>
                            <td>系统当前充电电流上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">A</span></td>
                        </tr>
                        <tr>
                            <td>单体平均电压：</td>
                            <td><span class="bms-value">3.247</span><span class="bms-unit">V</span></td>
                            <td>系统当前放电电流上限：</td>
                            <td><span class="bms-value">216</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>单位最高温度（编号 052）：</td>
                            <td><span class="bms-value">36.4</span><span class="bms-unit">℃</span></td>
                            <td>系统当前充电功率上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">W</span></td>
                        </tr>
                        <tr>
                            <td>单位最低温度（编号 052）：</td>
                            <td><span class="bms-value">28.7</span><span class="bms-unit">℃</span></td>
                            <td>系统当前放电功率上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">W</span></td>
                        </tr>
                        <tr>
                            <td>单位平均温度（编号 052）：</td>
                            <td><span class="bms-value">32.47</span><span class="bms-unit">℃</span></td>
                            <td>系统最高允许充电电压：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>母线电压：</td>
                            <td><span class="bms-value">327</span><span class="bms-unit">V</span></td>
                            <td>单体最高允许充电电压：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>母线电流：</td>
                            <td><span class="bms-value">23</span><span class="bms-unit">A</span></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="cus-esc-box">
        <h2 class="ess-tit">BMS 03</h2>
        <div class="ess-section clearfix">
            <div class="psc-section-item psi-one">
                <img src="/images/plantstatus/BMSdischarge.gif" alt="">
                <div class="psi-status">
                    <div class="psi-status-item">
                        <p><b class="psis-signal-off"></b></p>
                        <p>生命信号</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-comm-on"></b></p>
                        <p>通讯</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon"></b></p>
                        <p >接触器</p>
                    </div>
                    <div class="psi-status-item">
                        <p><span class="bms-value">100%</span></p>
                        <p>SOH</p>
                    </div>
                    <div class="psi-status-item">
                        <p><span class="bms-value">24%</span></p>
                        <p>SOC</p>
                    </div>
                </div>
            </div>
            <div class="psc-section-item psi-two">
                <div class="bms-details">
                    <table>
                        <tr>
                            <td>单位最大电压（编号 052）：</td>
                            <td><span class="bms-value">3.247</span><span class="bms-unit">V</span></td>
                            <td>系统绝缘值：</td>
                            <td><span class="bms-value">216</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>单位最小电压（编号 052）：</td>
                            <td><span class="bms-value">3.232</span><span class="bms-unit">V</span></td>
                            <td>系统当前充电电流上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">A</span></td>
                        </tr>
                        <tr>
                            <td>单体平均电压：</td>
                            <td><span class="bms-value">3.247</span><span class="bms-unit">V</span></td>
                            <td>系统当前放电电流上限：</td>
                            <td><span class="bms-value">216</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>单位最高温度（编号 052）：</td>
                            <td><span class="bms-value">36.4</span><span class="bms-unit">℃</span></td>
                            <td>系统当前充电功率上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">W</span></td>
                        </tr>
                        <tr>
                            <td>单位最低温度（编号 052）：</td>
                            <td><span class="bms-value">28.7</span><span class="bms-unit">℃</span></td>
                            <td>系统当前放电功率上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">W</span></td>
                        </tr>
                        <tr>
                            <td>单位平均温度（编号 052）：</td>
                            <td><span class="bms-value">32.47</span><span class="bms-unit">℃</span></td>
                            <td>系统最高允许充电电压：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>母线电压：</td>
                            <td><span class="bms-value">327</span><span class="bms-unit">V</span></td>
                            <td>单体最高允许充电电压：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>母线电流：</td>
                            <td><span class="bms-value">23</span><span class="bms-unit">A</span></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="cus-esc-box">
        <h2 class="ess-tit">BMS 04</h2>
        <div class="ess-section clearfix">
            <div class="psc-section-item psi-one">
                <img src="/images/plantstatus/BMScharge.gif" alt="">
                <div class="psi-status">
                    <div class="psi-status-item">
                        <p><b class="psis-signal-off"></b></p>
                        <p>生命信号</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-comm-on"></b></p>
                        <p>通讯</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon"></b></p>
                        <p >接触器</p>
                    </div>
                    <div class="psi-status-item">
                        <p><span class="bms-value">100%</span></p>
                        <p>SOH</p>
                    </div>
                    <div class="psi-status-item">
                        <p><span class="bms-value">24%</span></p>
                        <p>SOC</p>
                    </div>
                </div>
            </div>
            <div class="psc-section-item psi-two">
                <div class="bms-details">
                    <table>
                        <tr>
                            <td>单位最大电压（编号 052）：</td>
                            <td><span class="bms-value">3.247</span><span class="bms-unit">V</span></td>
                            <td>系统绝缘值：</td>
                            <td><span class="bms-value">216</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>单位最小电压（编号 052）：</td>
                            <td><span class="bms-value">3.232</span><span class="bms-unit">V</span></td>
                            <td>系统当前充电电流上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">A</span></td>
                        </tr>
                        <tr>
                            <td>单体平均电压：</td>
                            <td><span class="bms-value">3.247</span><span class="bms-unit">V</span></td>
                            <td>系统当前放电电流上限：</td>
                            <td><span class="bms-value">216</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>单位最高温度（编号 052）：</td>
                            <td><span class="bms-value">36.4</span><span class="bms-unit">℃</span></td>
                            <td>系统当前充电功率上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">W</span></td>
                        </tr>
                        <tr>
                            <td>单位最低温度（编号 052）：</td>
                            <td><span class="bms-value">28.7</span><span class="bms-unit">℃</span></td>
                            <td>系统当前放电功率上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">W</span></td>
                        </tr>
                        <tr>
                            <td>单位平均温度（编号 052）：</td>
                            <td><span class="bms-value">32.47</span><span class="bms-unit">℃</span></td>
                            <td>系统最高允许充电电压：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>母线电压：</td>
                            <td><span class="bms-value">327</span><span class="bms-unit">V</span></td>
                            <td>单体最高允许充电电压：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>母线电流：</td>
                            <td><span class="bms-value">23</span><span class="bms-unit">A</span></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="cus-esc-box">
        <h2 class="ess-tit">BMS 05</h2>
        <div class="ess-section clearfix">
            <div class="psc-section-item psi-one">
                <img src="/images/plantstatus/BMSdischarge.gif" alt="">
                <div class="psi-status">
                    <div class="psi-status-item">
                        <p><b class="psis-signal-off"></b></p>
                        <p>生命信号</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-comm-on"></b></p>
                        <p>通讯</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon"></b></p>
                        <p >接触器</p>
                    </div>
                    <div class="psi-status-item">
                        <p><span class="bms-value">100%</span></p>
                        <p>SOH</p>
                    </div>
                    <div class="psi-status-item">
                        <p><span class="bms-value">24%</span></p>
                        <p>SOC</p>
                    </div>
                </div>
            </div>
            <div class="psc-section-item psi-two">
                <div class="bms-details">
                    <table>
                        <tr>
                            <td>单位最大电压（编号 052）：</td>
                            <td><span class="bms-value">3.247</span><span class="bms-unit">V</span></td>
                            <td>系统绝缘值：</td>
                            <td><span class="bms-value">216</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>单位最小电压（编号 052）：</td>
                            <td><span class="bms-value">3.232</span><span class="bms-unit">V</span></td>
                            <td>系统当前充电电流上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">A</span></td>
                        </tr>
                        <tr>
                            <td>单体平均电压：</td>
                            <td><span class="bms-value">3.247</span><span class="bms-unit">V</span></td>
                            <td>系统当前放电电流上限：</td>
                            <td><span class="bms-value">216</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>单位最高温度（编号 052）：</td>
                            <td><span class="bms-value">36.4</span><span class="bms-unit">℃</span></td>
                            <td>系统当前充电功率上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">W</span></td>
                        </tr>
                        <tr>
                            <td>单位最低温度（编号 052）：</td>
                            <td><span class="bms-value">28.7</span><span class="bms-unit">℃</span></td>
                            <td>系统当前放电功率上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">W</span></td>
                        </tr>
                        <tr>
                            <td>单位平均温度（编号 052）：</td>
                            <td><span class="bms-value">32.47</span><span class="bms-unit">℃</span></td>
                            <td>系统最高允许充电电压：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>母线电压：</td>
                            <td><span class="bms-value">327</span><span class="bms-unit">V</span></td>
                            <td>单体最高允许充电电压：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>母线电流：</td>
                            <td><span class="bms-value">23</span><span class="bms-unit">A</span></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="cus-esc-box">
        <h2 class="ess-tit">BMS 06</h2>
        <div class="ess-section clearfix">
            <div class="psc-section-item psi-one">
                <img src="/images/plantstatus/BMSdischarge.gif" alt="">
                <div class="psi-status">
                    <div class="psi-status-item">
                        <p><b class="psis-signal-off"></b></p>
                        <p>生命信号</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-comm-on"></b></p>
                        <p>通讯</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon"></b></p>
                        <p >接触器</p>
                    </div>
                    <div class="psi-status-item">
                        <p><span class="bms-value">100%</span></p>
                        <p>SOH</p>
                    </div>
                    <div class="psi-status-item">
                        <p><span class="bms-value">24%</span></p>
                        <p>SOC</p>
                    </div>
                </div>
            </div>
            <div class="psc-section-item psi-two">
                <div class="bms-details">
                    <table>
                        <tr>
                            <td>单位最大电压（编号 052）：</td>
                            <td><span class="bms-value">3.247</span><span class="bms-unit">V</span></td>
                            <td>系统绝缘值：</td>
                            <td><span class="bms-value">216</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>单位最小电压（编号 052）：</td>
                            <td><span class="bms-value">3.232</span><span class="bms-unit">V</span></td>
                            <td>系统当前充电电流上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">A</span></td>
                        </tr>
                        <tr>
                            <td>单体平均电压：</td>
                            <td><span class="bms-value">3.247</span><span class="bms-unit">V</span></td>
                            <td>系统当前放电电流上限：</td>
                            <td><span class="bms-value">216</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>单位最高温度（编号 052）：</td>
                            <td><span class="bms-value">36.4</span><span class="bms-unit">℃</span></td>
                            <td>系统当前充电功率上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">W</span></td>
                        </tr>
                        <tr>
                            <td>单位最低温度（编号 052）：</td>
                            <td><span class="bms-value">28.7</span><span class="bms-unit">℃</span></td>
                            <td>系统当前放电功率上限：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">W</span></td>
                        </tr>
                        <tr>
                            <td>单位平均温度（编号 052）：</td>
                            <td><span class="bms-value">32.47</span><span class="bms-unit">℃</span></td>
                            <td>系统最高允许充电电压：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>母线电压：</td>
                            <td><span class="bms-value">327</span><span class="bms-unit">V</span></td>
                            <td>单体最高允许充电电压：</td>
                            <td><span class="bms-value">12</span><span class="bms-unit">V</span></td>
                        </tr>
                        <tr>
                            <td>母线电流：</td>
                            <td><span class="bms-value">23</span><span class="bms-unit">A</span></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>