<div class="cus-pcs-container-loading">正在加载......</div>
<div class="cus-pcs-container" id="cus-pcs-container">
    <div class="cus-pcs-box" id="pcs01">
        <h2 class="pcs-tit" id="pcs1_device_name">PCS 01</h2>
        <div class="pcs-section clearfix">
            <div class="psc-section-item psi-one">
                <img src="/images/plantstatus/PSC-da.png" alt="">
                <div class="psi-status">
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-stop"></b></p>
                        <p>停机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-start" ></b></p>
                        <p>开机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-break"></b></p>
                        <p >故障</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-connect on" ></b></p>
                        <p>通讯</p>
                    </div>
                </div>
            </div>
            <div class="psc-section-item psi-two">
                <div class="pcs-center-status">
                    <p class="pcsc-row"><span class="pcsc-column-tit">防雷器状态</span><b class="pcsc-column-icon pcs-las"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">钥匙开关</span><b class="pcsc-column-icon pcs-keySwitch"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">急停开关</span><b  class="pcsc-column-icon pcs-ess"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">接触器状态</span><b class="pcsc-column-icon pcs-cs"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">交流断路器</span><b class="pcsc-column-icon pcs-acbr"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">充电状态</span><b class="pcsc-column-icon pcs-charge pcs-concharge"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">放电状态</span><b class="pcsc-column-icon pcs-discharge pcs-concharge"></b></p>
                </div>
            </div>
            <div class="psc-section-item psi-thr">
                <div class="pcs-details">
                    <div><label>A相电压：</label><span class="pcsd-val" id="pcs1_uina_rms">0.00</span></div>
                    <div><label>电网频率：</label><span class="pcsd-val" id="pcs1_frequency">0.00</span></div>
                    <div><label>A相IGBT温度：</label><span class="pcsd-val" id="pcs1_igbt_tempa0_ever">0.00</span></div>
                    <div><label>B相电压：</label><span class="pcsd-val" id="pcs1_uinb_rms">0.00</span></div>
                    <div><label>有功功率：</label><span class="pcsd-val" id="pcs1_activepower">0.00</span></div>
                    <div><label>B相IGBT温度：</label><span class="pcsd-val" id="pcs1_igbt_tempb0_ever">0.00</span></div>

                    <div><label>C相电压：</label><span class="pcsd-val" id="pcs1_uinc_rms">0.00</span></div>
                    <div><label>无功功率：</label><span class="pcsd-val" id="pcs1_reactivepower">0.00</span></div>
                    <div><label>C相IGBT温度：</label><span class="pcsd-val" id="pcs1_igbt_tempc0_ever">0.00</span></div>

                    <div><label>A相电流：</label><span class="pcsd-val" id="pcs1_ibtra_ever">0.00</span></div>
                    <div><label>直流电压：</label><span class="pcsd-val" id="pcs1_ubtra_ever">0.00</span></div>
                    <div></div>
                    <div><label>B相电流：</label><span class="pcsd-val" id="pcs1_iinb_rms">0.00</span></div>
                    <div><label>直流电流：</label><span class="pcsd-val" id="pcs1_iina_rms">0.00</span></div>
                    <div></div>
                    <div><label>C相电流：</label><span class="pcsd-val" id="pcs1_iinc_rms">0.00</span></div>
                    <div><label>直流功率：</label><span class="pcsd-val" id="pcs1_pbtra">0.00</span></div>
                    <div></div>
                </div>
                <div class="pcs-setting">
                    <input type="hidden" class="deviceUnId" value="111">
                    <div class="pcs-right">控制权限：<span id="pcs1_sysstate1_4">EMS正在控制</span></div>
                    <div class="pcs-running">运行模式：<span id="pcs1_sysstate1_13">电池维护模式</span></div>
                    <div class="pcs-remotecontrol"><a class="cus-img-btn" onclick="pcs.getRight(this)">遥控及设定</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="cus-pcs-box" id="pcs02">
        <h2 class="pcs-tit" id="pcs2_device_name">PCS 01</h2>
        <div class="pcs-section clearfix">
            <div class="psc-section-item psi-one">
                <img src="/images/plantstatus/PSC-da.png" alt="">
                <div class="psi-status">
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-stop"></b></p>
                        <p>停机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-start" ></b></p>
                        <p>开机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-break"></b></p>
                        <p >故障</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-connect on" ></b></p>
                        <p>通讯</p>
                    </div>
                </div>
            </div>
            <div class="psc-section-item psi-two">
                <div class="pcs-center-status">
                    <p class="pcsc-row"><span class="pcsc-column-tit">防雷器状态</span><b class="pcsc-column-icon pcs-las"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">钥匙开关</span><b class="pcsc-column-icon pcs-keySwitch"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">急停开关</span><b  class="pcsc-column-icon pcs-ess"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">接触器状态</span><b class="pcsc-column-icon pcs-cs"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">交流断路器</span><b class="pcsc-column-icon pcs-acbr"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">充电状态</span><b class="pcsc-column-icon pcs-charge pcs-concharge"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">放电状态</span><b class="pcsc-column-icon pcs-discharge pcs-concharge"></b></p>
                </div>
            </div>
            <div class="psc-section-item psi-thr">
                <div class="pcs-details">
                    <div><label>A相电压：</label><span class="pcsd-val" id="pcs2_uina_rms">0.00</span></div>
                    <div><label>电网频率：</label><span class="pcsd-val" id="pcs2_frequency">0.00</span></div>
                    <div><label>A相IGBT温度：</label><span class="pcsd-val" id="pcs2_igbt_tempa0_ever">0.00</span></div>
                    <div><label>B相电压：</label><span class="pcsd-val" id="pcs2_uinb_rms">0.00</span></div>
                    <div><label>有功功率：</label><span class="pcsd-val" id="pcs2_activepower">0.00</span></div>
                    <div><label>B相IGBT温度：</label><span class="pcsd-val" id="pcs2_igbt_tempb0_ever">0.00</span></div>

                    <div><label>C相电压：</label><span class="pcsd-val" id="pcs2_uinc_rms">0.00</span></div>
                    <div><label>无功功率：</label><span class="pcsd-val" id="pcs2_reactivepower">0.00</span></div>
                    <div><label>C相IGBT温度：</label><span class="pcsd-val" id="pcs2_igbt_tempc0_ever">0.00</span></div>

                    <div><label>A相电流：</label><span class="pcsd-val" id="pcs2_ibtra_ever">0.00</span></div>
                    <div><label>直流电压：</label><span class="pcsd-val" id="pcs2_ubtra_ever">0.00</span></div>
                    <div></div>
                    <div><label>B相电流：</label><span class="pcsd-val" id="pcs2_iinb_rms">0.00</span></div>
                    <div><label>直流电流：</label><span class="pcsd-val" id="pcs2_iina_rms">0.00</span></div>
                    <div></div>
                    <div><label>C相电流：</label><span class="pcsd-val" id="pcs2_iinc_rms">0.00</span></div>
                    <div><label>直流功率：</label><span class="pcsd-val" id="pcs2_pbtra">0.00</span></div>
                    <div></div>
                </div>
                <div class="pcs-setting">
                    <input type="hidden" class="deviceUnId" value="111">
                    <div class="pcs-right">控制权限：<span id="pcs2_sysstate1_4">EMS正在控制</span></div>
                    <div class="pcs-running">运行模式：<span id="pcs2_sysstate1_13">电池维护模式</span></div>
                    <div class="pcs-remotecontrol"><a class="cus-img-btn" onclick="pcs.getRight(this)">遥控及设定</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="cus-pcs-box" id="pcs03">
        <h2 class="pcs-tit" id="pcs3_device_name">PCS 01</h2>
        <div class="pcs-section clearfix">
            <div class="psc-section-item psi-one">
                <img src="/images/plantstatus/PSC-da.png" alt="">
                <div class="psi-status">
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-stop"></b></p>
                        <p>停机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-start" ></b></p>
                        <p>开机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-break"></b></p>
                        <p >故障</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-connect on" ></b></p>
                        <p>通讯</p>
                    </div>
                </div>
            </div>
            <div class="psc-section-item psi-two">
                <div class="pcs-center-status">
                    <p class="pcsc-row"><span class="pcsc-column-tit">防雷器状态</span><b class="pcsc-column-icon pcs-las"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">钥匙开关</span><b class="pcsc-column-icon pcs-keySwitch"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">急停开关</span><b  class="pcsc-column-icon pcs-ess"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">接触器状态</span><b class="pcsc-column-icon pcs-cs"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">交流断路器</span><b class="pcsc-column-icon pcs-acbr"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">充电状态</span><b class="pcsc-column-icon pcs-charge pcs-concharge"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">放电状态</span><b class="pcsc-column-icon pcs-discharge pcs-concharge"></b></p>
                </div>
            </div>
            <div class="psc-section-item psi-thr">
                <div class="pcs-details">
                    <div><label>A相电压：</label><span class="pcsd-val" id="pcs3_uina_rms">0.00</span></div>
                    <div><label>电网频率：</label><span class="pcsd-val" id="pcs3_frequency">0.00</span></div>
                    <div><label>A相IGBT温度：</label><span class="pcsd-val" id="pcs3_igbt_tempa0_ever">0.00</span></div>
                    <div><label>B相电压：</label><span class="pcsd-val" id="pcs3_uinb_rms">0.00</span></div>
                    <div><label>有功功率：</label><span class="pcsd-val" id="pcs3_activepower">0.00</span></div>
                    <div><label>B相IGBT温度：</label><span class="pcsd-val" id="pcs3_igbt_tempb0_ever">0.00</span></div>

                    <div><label>C相电压：</label><span class="pcsd-val" id="pcs3_uinc_rms">0.00</span></div>
                    <div><label>无功功率：</label><span class="pcsd-val" id="pcs3_reactivepower">0.00</span></div>
                    <div><label>C相IGBT温度：</label><span class="pcsd-val" id="pcs3_igbt_tempc0_ever">0.00</span></div>

                    <div><label>A相电流：</label><span class="pcsd-val" id="pcs3_ibtra_ever">0.00</span></div>
                    <div><label>直流电压：</label><span class="pcsd-val" id="pcs3_ubtra_ever">0.00</span></div>
                    <div></div>
                    <div><label>B相电流：</label><span class="pcsd-val" id="pcs3_iinb_rms">0.00</span></div>
                    <div><label>直流电流：</label><span class="pcsd-val" id="pcs3_iina_rms">0.00</span></div>
                    <div></div>
                    <div><label>C相电流：</label><span class="pcsd-val" id="pcs3_iinc_rms">0.00</span></div>
                    <div><label>直流功率：</label><span class="pcsd-val" id="pcs3_pbtra">0.00</span></div>
                    <div></div>
                </div>
                <div class="pcs-setting">
                    <input type="hidden" class="deviceUnId" value="111">
                    <div class="pcs-right">控制权限：<span id="pcs3_sysstate1_4">EMS正在控制</span></div>
                    <div class="pcs-running">运行模式：<span id="pcs3_sysstate1_13">电池维护模式</span></div>
                    <div class="pcs-remotecontrol"><a class="cus-img-btn" onclick="pcs.getRight(this)">遥控及设定</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="cus-pcs-box" id="pcs04">
        <h2 class="pcs-tit" id="pcs4_device_name">PCS 01</h2>
        <div class="pcs-section clearfix">
            <div class="psc-section-item psi-one">
                <img src="/images/plantstatus/PSC-da.png" alt="">
                <div class="psi-status">
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-stop"></b></p>
                        <p>停机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-start" ></b></p>
                        <p>开机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-break"></b></p>
                        <p >故障</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-connect on" ></b></p>
                        <p>通讯</p>
                    </div>
                </div>
            </div>
            <div class="psc-section-item psi-two">
                <div class="pcs-center-status">
                    <p class="pcsc-row"><span class="pcsc-column-tit">防雷器状态</span><b class="pcsc-column-icon pcs-las"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">钥匙开关</span><b class="pcsc-column-icon pcs-keySwitch"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">急停开关</span><b  class="pcsc-column-icon pcs-ess"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">接触器状态</span><b class="pcsc-column-icon pcs-cs"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">交流断路器</span><b class="pcsc-column-icon pcs-acbr"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">充电状态</span><b class="pcsc-column-icon pcs-charge pcs-concharge"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">放电状态</span><b class="pcsc-column-icon pcs-discharge pcs-concharge"></b></p>
                </div>
            </div>
            <div class="psc-section-item psi-thr">
                <div class="pcs-details">
                    <div><label>A相电压：</label><span class="pcsd-val" id="pcs4_uina_rms">0.00</span></div>
                    <div><label>电网频率：</label><span class="pcsd-val" id="pcs4_frequency">0.00</span></div>
                    <div><label>A相IGBT温度：</label><span class="pcsd-val" id="pcs4_igbt_tempa0_ever">0.00</span></div>
                    <div><label>B相电压：</label><span class="pcsd-val" id="pcs4_uinb_rms">0.00</span></div>
                    <div><label>有功功率：</label><span class="pcsd-val" id="pcs4_activepower">0.00</span></div>
                    <div><label>B相IGBT温度：</label><span class="pcsd-val" id="pcs4_igbt_tempb0_ever">0.00</span></div>

                    <div><label>C相电压：</label><span class="pcsd-val" id="pcs4_uinc_rms">0.00</span></div>
                    <div><label>无功功率：</label><span class="pcsd-val" id="pcs4_reactivepower">0.00</span></div>
                    <div><label>C相IGBT温度：</label><span class="pcsd-val" id="pcs4_igbt_tempc0_ever">0.00</span></div>

                    <div><label>A相电流：</label><span class="pcsd-val" id="pcs4_ibtra_ever">0.00</span></div>
                    <div><label>直流电压：</label><span class="pcsd-val" id="pcs4_ubtra_ever">0.00</span></div>
                    <div></div>
                    <div><label>B相电流：</label><span class="pcsd-val" id="pcs4_iinb_rms">0.00</span></div>
                    <div><label>直流电流：</label><span class="pcsd-val" id="pcs4_iina_rms">0.00</span></div>
                    <div></div>
                    <div><label>C相电流：</label><span class="pcsd-val" id="pcs4_iinc_rms">0.00</span></div>
                    <div><label>直流功率：</label><span class="pcsd-val" id="pcs4_pbtra">0.00</span></div>
                    <div></div>
                </div>
                <div class="pcs-setting">
                    <input type="hidden" class="deviceUnId" value="111">
                    <div class="pcs-right">控制权限：<span id="pcs4_sysstate1_4">EMS正在控制</span></div>
                    <div class="pcs-running">运行模式：<span id="pcs4_sysstate1_13">电池维护模式</span></div>
                    <div class="pcs-remotecontrol"><a class="cus-img-btn" onclick="pcs.getRight(this)">遥控及设定</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="cus-pcs-box" id="pcs05">
        <h2 class="pcs-tit" id="pcs5_device_name">PCS 01</h2>
        <div class="pcs-section clearfix">
            <div class="psc-section-item psi-one">
                <img src="/images/plantstatus/PSC-da.png" alt="">
                <div class="psi-status">
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-stop"></b></p>
                        <p>停机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-start" ></b></p>
                        <p>开机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-break"></b></p>
                        <p >故障</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-connect on" ></b></p>
                        <p>通讯</p>
                    </div>
                </div>
            </div>
            <div class="psc-section-item psi-two">
                <div class="pcs-center-status">
                    <p class="pcsc-row"><span class="pcsc-column-tit">防雷器状态</span><b class="pcsc-column-icon pcs-las"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">钥匙开关</span><b class="pcsc-column-icon pcs-keySwitch"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">急停开关</span><b  class="pcsc-column-icon pcs-ess"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">接触器状态</span><b class="pcsc-column-icon pcs-cs"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">交流断路器</span><b class="pcsc-column-icon pcs-acbr"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">充电状态</span><b class="pcsc-column-icon pcs-charge pcs-concharge"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">放电状态</span><b class="pcsc-column-icon pcs-discharge pcs-concharge"></b></p>
                </div>
            </div>
            <div class="psc-section-item psi-thr">
                <div class="pcs-details">
                    <div><label>A相电压：</label><span class="pcsd-val" id="pcs5_uina_rms">0.00</span></div>
                    <div><label>电网频率：</label><span class="pcsd-val" id="pcs5_frequency">0.00</span></div>
                    <div><label>A相IGBT温度：</label><span class="pcsd-val" id="pcs5_igbt_tempa0_ever">0.00</span></div>
                    <div><label>B相电压：</label><span class="pcsd-val" id="pcs5_uinb_rms">0.00</span></div>
                    <div><label>有功功率：</label><span class="pcsd-val" id="pcs5_activepower">0.00</span></div>
                    <div><label>B相IGBT温度：</label><span class="pcsd-val" id="pcs5_igbt_tempb0_ever">0.00</span></div>

                    <div><label>C相电压：</label><span class="pcsd-val" id="pcs5_uinc_rms">0.00</span></div>
                    <div><label>无功功率：</label><span class="pcsd-val" id="pcs5_reactivepower">0.00</span></div>
                    <div><label>C相IGBT温度：</label><span class="pcsd-val" id="pcs5_igbt_tempc0_ever">0.00</span></div>

                    <div><label>A相电流：</label><span class="pcsd-val" id="pcs5_ibtra_ever">0.00</span></div>
                    <div><label>直流电压：</label><span class="pcsd-val" id="pcs5_ubtra_ever">0.00</span></div>
                    <div></div>
                    <div><label>B相电流：</label><span class="pcsd-val" id="pcs5_iinb_rms">0.00</span></div>
                    <div><label>直流电流：</label><span class="pcsd-val" id="pcs5_iina_rms">0.00</span></div>
                    <div></div>
                    <div><label>C相电流：</label><span class="pcsd-val" id="pcs5_iinc_rms">0.00</span></div>
                    <div><label>直流功率：</label><span class="pcsd-val" id="pcs5_pbtra">0.00</span></div>
                    <div></div>
                </div>
                <div class="pcs-setting">
                    <input type="hidden" class="deviceUnId" value="111">
                    <div class="pcs-right">控制权限：<span id="pcs5_sysstate1_4">EMS正在控制</span></div>
                    <div class="pcs-running">运行模式：<span id="pcs5_sysstate1_13">电池维护模式</span></div>
                    <div class="pcs-remotecontrol"><a class="cus-img-btn" onclick="pcs.getRight(this)">遥控及设定</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="cus-pcs-box" id="pcs06">
        <h2 class="pcs-tit" id="pcs6_device_name">PCS 01</h2>
        <div class="pcs-section clearfix">
            <div class="psc-section-item psi-one">
                <img src="/images/plantstatus/PSC-da.png" alt="">
                <div class="psi-status">
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-stop"></b></p>
                        <p>停机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-start" ></b></p>
                        <p>开机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-ssb psis-break"></b></p>
                        <p >故障</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon psis-connect on" ></b></p>
                        <p>通讯</p>
                    </div>
                </div>
            </div>
            <div class="psc-section-item psi-two">
                <div class="pcs-center-status">
                    <p class="pcsc-row"><span class="pcsc-column-tit">防雷器状态</span><b class="pcsc-column-icon pcs-las"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">钥匙开关</span><b class="pcsc-column-icon pcs-keySwitch"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">急停开关</span><b  class="pcsc-column-icon pcs-ess"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">接触器状态</span><b class="pcsc-column-icon pcs-cs"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">交流断路器</span><b class="pcsc-column-icon pcs-acbr"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">充电状态</span><b class="pcsc-column-icon pcs-charge pcs-concharge"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">放电状态</span><b class="pcsc-column-icon pcs-discharge pcs-concharge"></b></p>
                </div>
            </div>
            <div class="psc-section-item psi-thr">
                <div class="pcs-details">
                    <div><label>A相电压：</label><span class="pcsd-val" id="pcs6_uina_rms">0.00</span></div>
                    <div><label>电网频率：</label><span class="pcsd-val" id="pcs6_frequency">0.00</span></div>
                    <div><label>A相IGBT温度：</label><span class="pcsd-val" id="pcs6_igbt_tempa0_ever">0.00</span></div>
                    <div><label>B相电压：</label><span class="pcsd-val" id="pcs6_uinb_rms">0.00</span></div>
                    <div><label>有功功率：</label><span class="pcsd-val" id="pcs6_activepower">0.00</span></div>
                    <div><label>B相IGBT温度：</label><span class="pcsd-val" id="pcs6_igbt_tempb0_ever">0.00</span></div>

                    <div><label>C相电压：</label><span class="pcsd-val" id="pcs6_uinc_rms">0.00</span></div>
                    <div><label>无功功率：</label><span class="pcsd-val" id="pcs6_reactivepower">0.00</span></div>
                    <div><label>C相IGBT温度：</label><span class="pcsd-val" id="pcs6_igbt_tempc0_ever">0.00</span></div>

                    <div><label>A相电流：</label><span class="pcsd-val" id="pcs6_ibtra_ever">0.00</span></div>
                    <div><label>直流电压：</label><span class="pcsd-val" id="pcs6_ubtra_ever">0.00</span></div>
                    <div></div>
                    <div><label>B相电流：</label><span class="pcsd-val" id="pcs6_iinb_rms">0.00</span></div>
                    <div><label>直流电流：</label><span class="pcsd-val" id="pcs6_iina_rms">0.00</span></div>
                    <div></div>
                    <div><label>C相电流：</label><span class="pcsd-val" id="pcs6_iinc_rms">0.00</span></div>
                    <div><label>直流功率：</label><span class="pcsd-val" id="pcs6_pbtra">0.00</span></div>
                    <div></div>
                </div>
                <div class="pcs-setting">
                    <input type="hidden" class="deviceUnId" value="111">
                    <div class="pcs-right">控制权限：<span id="pcs6_sysstate1_4">EMS正在控制</span></div>
                    <div class="pcs-running">运行模式：<span id="pcs6_sysstate1_13">电池维护模式</span></div>
                    <div class="pcs-remotecontrol"><a class="cus-img-btn" onclick="pcs.getRight(this)">遥控及设定</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--控制权限配置-->
<div id="rightControl" class="pcs-userValidate">
    <form id="validateUserForm">
        <input type="hidden" name="deviceUnId" class="getDeviceUnId">
        <div class="rc-user">
            <label for="rightUser">账户：</label>
            <input type="text" id="rightUser" name="rightUser">
        </div>
        <div class="rc-user">
            <label for="rightPwd">密码：</label>
            <input type="text" id="rightPwd" name="rightPwd">
        </div>
    </form>
</div>
<!--控制权限配置 end-->
<div class="cus-win-pcscontent" id="cus-win-content" style="display: none">
    <input type="hidden" class="getDeviceUnId">
    <div class="cus-win-highLight">
        <div class="cwh-setrange cwh-setting">
            <label>设置范围:</label>
            <div class="checkboxContainer"><input class="inputCheck" id="aiAl" type="checkbox"><label class="inputCheckBox" for="aiAl"></label>对所有设备生效</div>
            <div class="checkboxContainer"><input class="inputCheck" checked id="aiEv" type="checkbox"><label class="inputCheckBox" for="aiEv"></label>对当前设备生效</div>
        </div>
        <div class="cwh-dcc cwh-setting">
            <label>直流能量调控器控制权限</label>
            <select name="" id="pcs-dCEnergy" onchange="pcs.setAvpExcute(this.value)">
                <option value=""></option>
            </select>
            <a class="cus-img-btn ceh-excut" onclick="pcs.dceExcute()">执行</a>
        </div>
        <div class="cwh-runmodel cwh-setting">
            <label>运行模式设置</label>
            <select name="" id="pcs-runningModel">
                <option value=""></option>
            </select>
            <a onclick="pcs.rnExcute()" class="cus-img-btn ceh-excut">执行</a>
        </div>
    </div>
    <div class="cus-win-condition">
        <div class="cus-win-mark"></div>
        <div class="cwc-content">
            <h2> 充放电策略使能（EMS控制模式下生效）</h2>
            <!--<div class="cwc-one">
                <div class="cwc-col cwc-col-one cwc-col-ap cwc-col-arp">
                    当前有功<span id="curAp" class="cwc-val">0</span><span class="cwc-unit curAvpUnit">kVar</span>
                </div>
                <div class="cwc-col cwc-col-two">
                    <label for="">设定值：<input class="pcs-input-clear" id="pcs-apVal" type="text"></label></label>kW
                </div>
                <a class="cus-img-btn ceh-excut" onclick="pcs.apExcute()">执行</a>
            </div>
            <div class="cwc-sec">
                <div class="cwc-col cwc-col-one cwc-col-rp cwc-col-arp">
                    当前无功<span id="curRp" class="cwc-val">0</span><span class="cwc-unit curAvpUnit">kVar</span>
                </div>
                <div class="cwc-col cwc-col-two">
                    <label for="">设定值：<input class="pcs-input-clear" id="pcs-rpVal" type="text"></label></label>kW
                </div>
                <a class="cus-img-btn ceh-excut" onclick="pcs.rpExcute()">执行</a>
            </div>-->
            <div>
                <div class="cwc-enable cwc-select">
                    <label>充放电策略使能</label>
                    <select name="" id="pcs-enable">
                        <option value=""></option>
                    </select>
                    <a class="cus-img-btn ceh-excut" onclick="pcs.enableExcute()">执行</a>
                </div>
                <div class="cwc-enable-content">
                    <form id="setTimeLine">
                    <table id="pcs-timetable" class="pcs-timetable">
                        <thead>
                        <tr><td>时间段名称</td><td>起始时间</td><td>结束时间</td><td>充放电电流(A)</td></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>时间段1</td>
                            <td>
                                <input type="text" name="start_time1" class="Wdate" id="pcsdtime1" onclick="WdatePicker({dateFmt:'H:mm',maxDate:'#F{$dp.$D(\'pcsdtime11\')}',readOnly:true})"/>
                            </td>
                            <td>
                                <input type="text" class="Wdate" name="stop_time1" id="pcsdtime11" onclick="WdatePicker({dateFmt:'H:mm',minDate:'#F{$dp.$D(\'pcsdtime1\')}',readOnly:true})"/>
                            </td>
                            <td><input type="text" name="power_set1" class="cus-table-input" id="chargeA1"></td>
                        </tr>
                        <tr>
                            <td>时间段2</td>
                            <td>
                                <input type="text" class="Wdate" name="start_time2" id="pcsdtime2" onclick="WdatePicker({dateFmt:'H:mm',maxDate:'#F{$dp.$D(\'pcsdtime21\')}',readOnly:true})"/>
                            </td>
                            <td>
                                <input type="text" class="Wdate" name="stop_time2" id="pcsdtime21" onclick="WdatePicker({dateFmt:'H:mm',minDate:'#F{$dp.$D(\'pcsdtime2\')}',readOnly:true})"/>
                            </td>
                            <td><input type="text" name="power_set2" class="cus-table-input" id="chargeA2"></td>
                        </tr>
                        <tr>
                            <td>时间段3</td>
                            <td>
                                <input type="text" class="Wdate" name="start_time3" id="pcsdtime3" onclick="WdatePicker({dateFmt:'H:mm',maxDate:'#F{$dp.$D(\'pcsdtime31\')}',readOnly:true})"/>
                            </td>
                            <td>
                                <input type="text" class="Wdate" name="stop_time3" id="pcsdtime31" onclick="WdatePicker({dateFmt:'H:mm',minDate:'#F{$dp.$D(\'pcsdtime3\')}',readOnly:true})"/>
                            </td>
                            <td><input type="text" name="power_set3" class="cus-table-input" id="chargeA3"></td>
                        </tr>
                        <tr>
                            <td>时间段4</td>
                            <td>
                                <input type="text" class="Wdate" name="start_time4" id="pcsdtime4" onclick="WdatePicker({dateFmt:'H:mm',maxDate:'#F{$dp.$D(\'pcsdtime41\')}',readOnly:true})"/>
                            </td>
                            <td>
                                <input type="text" class="Wdate" name="stop_time4" id="pcsdtime41" onclick="WdatePicker({dateFmt:'H:mm',minDate:'#F{$dp.$D(\'pcsdtime4\')}',readOnly:true})"/>
                            </td>
                            <td><input type="text" name="power_set4" class="cus-table-input" id="chargeA4"></td>
                        </tr>
                        </tbody>
                    </table>
                    </form>
                    <div class="cwc-tit">设置说明：充电电流充电为负，放电为正</div>
                    <a class="cus-img-btn ceh-excut" onclick="pcs.timeLineExcute()">执行</a>
                </div>
            </div>
        </div>
    </div>
</div>