<div class="cus-pcs-container">
    <div class="cus-pcs-box">
        <h2 class="pcs-tit">PCS 01</h2>
        <div class="pcs-section clearfix">
            <div class="psc-section-item psi-one">
                <img src="/images/PSC-da.png" alt="">
                <div class="psi-status">
                    <div class="psi-status-item">
                        <p><b class="psis-icon" id="pcs1Stop"></b></p>
                        <p>停机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon" id="pcs1Start"></b></p>
                        <p>开机</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon" id="pcs1Break"></b></p>
                        <p>故障</p>
                    </div>
                    <div class="psi-status-item">
                        <p><b class="psis-icon" id="pcs1Connect"></b></p>
                        <p>通讯</p>
                    </div>
                </div>
            </div>
            <div class="psc-section-item psi-two">
                <div class="pcs-center-status">
                    <p class="pcsc-row"><span class="pcsc-column-tit">防雷器状态</span><b id="pcs1-las" class="pcsc-column-icon"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">钥匙开关</span><b id="pcs1-keySwitch" class="pcsc-column-icon"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">急停开关</span><b  id="pcs1-ess"class="pcsc-column-icon"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">接触器状态</span><b id="pcs1-cs" class="pcsc-column-icon"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">交流断路器</span><b id="pcs1-acbr" class="pcsc-column-icon"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">充电状态</span><b id="pcs1-charge" class="pcsc-column-icon"></b></p>
                    <p class="pcsc-row"><span class="pcsc-column-tit">放电状态</span><b id="pcs1-discharge" class="pcsc-column-icon"></b></p>
                </div>
            </div>
            <div class="psc-section-item psi-thr">
                <div class="pcs-details">
                    <div><label>A相电压：</label><span class="pcsd-val" id="pcsd1-val-apv">0.00</span> <span class="pcsd-unit" id="pcsd1-val-apvunit">V</span></div>
                    <div><label>电网频率：</label><span class="pcsd-val" id="pcsd1-val-gf">0.00</span> <span class="pcsd-unit" id="pcsd1-val-gfunit">HZ</span></div>
                    <div><label>A相IGBT温度：</label><span class="pcsd-val" id="pcsd1-val-aigbt">0.00</span> <span class="pcsd-unit" id="pcsd1-val-aigbtunit">℃</span></div>
                    <div><label>B相电压：</label><span class="pcsd-val" id="pcsd1-val-bpv">0.00</span> <span class="pcsd-unit" id="pcsd1-val-bpvunit">V</span></div>
                    <div><label>有功功率：</label><span class="pcsd-val" id="pcsd1-val-ap">0.00</span> <span class="pcsd-unit" id="csd1-val-apunit">kW</span></div>
                    <div><label>B相IGBT温度：</label><span class="pcsd-val" id="pcsd1-bgbt">0.00</span> <span class="pcsd-unit" id="pcsd1-bgbtunit">℃</span></div>
                    <div><label>C相电压：</label><span class="pcsd-val" id="pcsd1-cpv">0.00</span> <span class="pcsd-unit" id="pcsd1-cpvunit">V</span></div>
                    <div><label>无功功率：</label><span class="pcsd-val" id="pcsd1-rp">0.00</span> <span class="pcsd-unit" id="">kW</span></div>
                    <div><label>C相IGBT温度：</label><span class="pcsd-val" id="pcsd1-cgbt">0.00</span> <span class="pcsd-unit" id="">℃</span></div>
                    <div><label>A相电流：</label><span class="pcsd-val" id="pcsd1-aav">0.00</span> <span class="pcsd-unit" id="">A</span></div>
                    <div><label>直流电压：</label><span class="pcsd-val" id="pcsd1-dcv">0.00</span> <span class="pcsd-unit" id="">V</span></div>
                    <div><label>B相电流：</label><span class="pcsd-val" id="pcsd1-bav">0.00</span> <span class="pcsd-unit" id="">A</span></div>
                    <div><label>直流电流：</label><span class="pcsd-val" id="pcsd1-dca">0.00</span> <span class="pcsd-unit" id="">A</span></div>
                    <div><label>C相电流：</label><span class="pcsd-val" id="pcsd1-cav">0.00</span> <span class="pcsd-unit" id="">A</span></div>
                    <div><label>直流功率：</label><span class="pcsd-val" id="pcsd1-dcp">0.00</span> <span class="pcsd-unit" id="">kW</span></div>
                </div>
                <div class="pcs-setting">
                    <div class="pcs-right">控制权限：<span>EMS正在控制</span></div>
                    <div class="pcs-running">运行模式：<span>电池维护模式</span></div>
                    <div class="pcs-remotecontrol"><input type="button" value="遥控及设定"></div>
                </div>
            </div>
        </div>
    </div>
</div>