<div id="plantCarousel" class="carousel slide cus-slider" data-ride="carousel">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#plantCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#plantCarousel" data-slide-to="1"></li>
        <li data-target="#plantCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="cus-img"><img src="/images/plant.png" alt="First slide"></div>

            <div class="carousel-caption cus-caption">
                <p class="cus-tit">成都高新区美年电站</p>
                <p class="cus-list">
                    <label>电站状态：</label>
                    <span class="pv-plantStatus">正常</span>
                    <label>并网时间：</label>
                    <span class="pv-gridTime">2017-5-1</span>
                </p>
                <p class="cus-list">
                    <label>装机容量：</label>
                    <span class="pv-capacity">1000kW</span>
                    <label>运行天数：</label>
                    <span class="pv-runningDay">80天</span>
                </p>
            </div>
        </div>
        <div class="item">

            <div class="cus-img"><img src="/images/plant.png" alt="Second slide"></div>
            <div class="carousel-caption cus-caption">
                <p class="cus-tit">xxx1</p>
                <p class="cus-list">
                    <label>电站状态：</label>
                    <span class="pv-plantStatus">正常</span>
                    <label>并网时间：</label>
                    <span class="pv-gridTime">2017-5-1</span>
                </p>
                <p class="cus-list">
                    <label>装机容量：</label>
                    <span class="pv-capacity">1000kW</span>
                    <label>运行天数：</label>
                    <span class="pv-runningDay">80天</span>
                </p>
            </div>
        </div>
        <div class="item">

            <div class="cus-img"><img src="/images/plant.png" alt="Third slide"></div>
            <div class="carousel-caption cus-caption">
                <p class="cus-tit">xxx2</p>
                <p class="cus-list">
                    <label>电站状态：</label>
                    <span class="pv-plantStatus">正常</span>
                    <label>并网时间：</label>
                    <span class="pv-gridTime">2017-5-1</span>
                </p>
                <p class="cus-list">
                    <label>装机容量：</label>
                    <span class="pv-capacity">1000kW</span>
                    <label>运行天数：</label>
                    <span class="pv-runningDay">80天</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!--<div class="cus-plantMsg">
    <p class="cus-tit">成都高新区美年电站</p>
    <p class="cus-list">
        <label>电站状态：</label>
        <span id="pv-plantStatus">正常</span>
    </p>
    <p class="cus-list"></p>
</div>-->
