<div class="cus-one cus-column">
    <p class="cus-tit">当日收益</p>
    <div class="cus-bar clearfix">
        <div class="cus-value"><span>0</span><span>0</span><span>0</span><span>3</span><span>2</span><span>5</span><span>8</span></div>
        <span class="cus-unit">元</span>
    </div>
</div>
<div class="cus-two cus-column">
    <p class="cus-tit">累计收益</p>
    <div class="cus-bar clearfix">
        <div class="cus-value"><span>0</span><span>0</span><span>6</span><span>3</span><span>5</span><span>2</span><span>8</span></div>
        <span class="cus-unit">万元</span>
    </div>
</div>