<div class="cus-weather">
    <p class="cw-tit"><span id="curDate">周日 2017-07-09</span>(实时:<span id="curTemp"></span>℃)</p>
    <div class="cw-content clearfix">
        <ul>
            <li class="cus-firstLi cus-li">
                <div class="cw-icon"><img id="weatherIcon" src="/images/3d_180/2.png" alt=""></div>
                <div class="cw-temp" id="weatherTemp">22-36℃</div>
                <div class="cw-weather" id="weatherW">晴</div>
                <div class="cw-wind" id="weatherWind">微风1级</div>
            </li>
            <li class="cus-split"></li>
            <li class="cus-li cus-sectLi">
                <div class="cw-week" id="weatherNextWeek">周一</div>
                <div class="cw-date" id="weatherNextDate">2017-7-10</div>
                <div class="cw-icon"><img id="weatherNextIcon" src="/images/3d_60/4.png" alt=""></div>
                <div class="cw-temp" id="weatherNextTemp">23-35℃</div>
                <div class="cw-weather" id="weatherNextW">阴</div>
                <div class="cw-wind" id="weatherNextWind">西风4级</div>
            </li>
            <li class="cus-split"></li>
            <li class="cus-li cus-thrLi">
                <div class="cw-week" id="weatherSecWeek">周二</div>
                <div class="cw-date" id="weatherSecDate">2017-7-11</div>
                <div class="cw-icon"><img id="weatherSecIcon" src="/images/3d_60/7.png" alt=""></div>
                <div class="cw-temp" id="weatherSecTemp">24-36℃</div>
                <div class="cw-weather" id="weatherSecW">阴/多云</div>
                <div class="cw-wind" id="weatherSecWind">西风4级</div>
            </li>
        </ul>
    </div>
</div>